<div *ngIf="task">
  <h2>Edytuj zadanie</h2>
  <form [formGroup]="editForm" (ngSubmit)="updateTask()">
    <div>
      <label for="name">Nazwa:</label>
      <input type="text" id="name" formControlName="name" required>
    </div>
    <div>
      <label for="description">Opis:</label>
      <textarea id="description" formControlName="description" required></textarea>
    </div>
    <div>
      <label for="status">Status:</label>
      <select id="status" formControlName="status" required>
        <option value="TODO">TODO</option>
        <option value="DOING">DOING</option>
        <option value="DONE">DONE</option>
      </select>
    </div>
    <div>
      <label for="priority">Priorytet:</label>
      <select id="priority" formControlName="priority" required>
        <option value="NISKI">NISKI</option>
        <option value="ŚREDNI">ŚREDNI</option>
        <option value="WYSOKI">WYSOKI</option>
      </select>
    </div>
    <div>
      <label for="estimatedTime">Przewidywany czas wykonania:</label>
      <input type="number" id="estimatedTime" formControlName="estimatedTime" required>
      <a> godz.</a>
    </div>
    <div>
      <label for="startDate">Data rozpoczęcia:</label>
      <input type="date" id="startDate" formControlName="startDate">
    </div>
    <div>
      <label for="endDate">Data zakończenia:</label>
      <input type="date" id="endDate" formControlName="endDate">
    </div>
    <button type="submit">Wyślij</button>
  </form>
</div>
