<h2>Edytuj Zadanie</h2>

<div *ngIf="task">
  <form (submit)="updateTask()">
    <div>
      <label for="name">Nazwa:</label>
      <input type="text" id="name" name="name" [(ngModel)]="task.name" required>
    </div>
    <div>
      <label for="description">Opis:</label>
      <textarea id="description" name="description" [(ngModel)]="task.description"></textarea>
    </div>
    <div>   
      <label for="status">Status:</label>
      <select id="status" name="status" [(ngModel)]="task.status" required>
        <option value="TODO">TODO</option>
        <option value="DOING">DOING</option>
        <option value="DONE">DONE</option>
      </select>
    </div>


    <button type="submit">Wyślij</button>
  </form>
</div>