<div *ngIf="task">
  <h2>Szczegóły zadania</h2>
  <p>ID Zadania: {{ task.taskId }}</p>
  <p>Nazwa: {{ task.name }}</p>
  <p>Opis: {{ task.description }}</p>
  <p>Status: {{ task.status }}</p>
  <p>Priorytet: {{ task.priority }}</p>
  <p>ID Funkcjonalności: {{ task.functionalityId }}</p>
  <p>Przewidywany czas wykonania: {{ task.estimatedTime }}</p>
  <p>Data rozpoczęcia: {{ task.startDate }}</p>
  <p>Data zakończenia: {{ task.endDate }}</p>
  <p>Data utworzenia: {{task.createdDate}}</p>
</div>

