<h2>Edytuj Funkcjonalność</h2>
<div *ngIf="functionality">
  <form (ngSubmit)="updateFunctionality()" #editForm="ngForm">
    <div>
      <label for="name">Nazwa:</label>
      <input type="text" id="name" name="name" [(ngModel)]="functionality.name" required>
    </div>

    <div>
      <label for="description">Opis:</label>
      <textarea id="description" name="description" [(ngModel)]="functionality.description" required></textarea>
    </div>

    <div>
      <label for="status">Status:</label>
      <select id="status" name="status" [(ngModel)]="functionality.status" required>
        <option value="TODO">TODO</option>
        <option value="DOING">DOING</option>
        <option value="DONE">DONE</option>
      </select>
    </div>
    <div>
      <label for="priority">Priorytet:</label>
      <select id="priority" name="priority" [(ngModel)]="functionality.priority" required>
        <option value="niski">Niski</option>
        <option value="średni">Średni</option>
        <option value="wysoki">Wysoki</option>
      </select>
    </div>

    <button type="submit">Wyślij</button>
  </form>
</div>