<form [formGroup]="loginForm">
  <a> Login: JohnDoe Hasło: 123</a>
  <div>
    <label for="username">Nazwa użytkownika:</label>
    <input type="text" id="username" formControlName="username">
  </div>
  <div>
    <label for="password">Hasło:</label>
    <input type="password" id="password" formControlName="password">
  </div>
  <button (click)="login()">Zaloguj</button>
</form>

<div *ngIf="loginError" class="error-message">
  {{ loginError }}
</div>

<div *ngIf="loggedIn">
  <p>Zalogowany jako: {{ loggedInUser }}</p>
  <button (click)="logout()">Wyloguj</button>
</div>
