<a href="/create-task"><button>Dodaj zadanie</button></a>
<div class="kanban-container">
  <div class="kanban-column">
    <h2>TODO</h2>
    <ul class="task-list" id="todo-column">
      <li *ngFor="let task of tasks | filterByStatus:'TODO'" class="task">
        <div class="task-header">
          <h3>{{ task.name }}</h3>
        </div>
        <p>{{ task.description }}</p>
        <div class="task-actions">
          <button (click)="editTask(task.taskId)">Edytuj</button>
          <button (click)="deleteTask(task)">Usuń</button>
          <button (click)="navigateToTaskDetails(task.taskId)">Szczegóły</button>
        </div>
      </li>
    </ul>
  </div>
  <div class="kanban-column">
    <h2>DOING</h2>
    <ul class="task-list" id="doing-column">
      <li *ngFor="let task of tasks | filterByStatus:'DOING'" class="task">
        <div class="task-header">
          <h3>{{ task.name }}</h3>
        </div>
        <p>{{ task.description }}</p>
        <div class="task-actions">
          <button (click)="editTask(task.taskId)">Edytuj</button>
          <button (click)="deleteTask(task)">Usuń</button>
          <button (click)="navigateToTaskDetails(task.taskId)">Szczegóły</button>
        </div>
      </li>
    </ul>
  </div>
  <div class="kanban-column">
    <h2>DONE</h2>
    <ul class="task-list" id="done-column">
      <li *ngFor="let task of tasks | filterByStatus:'DONE'" class="task">
        <div class="task-header">
          <h3>{{ task.name }}</h3>
        </div>
        <p>{{ task.description }}</p>
        <div class="task-actions">
          <button (click)="editTask(task.taskId)">Edytuj</button>
          <button (click)="deleteTask(task)">Usuń</button>
          <button (click)="navigateToTaskDetails(task.taskId)">Szczegóły</button>
        </div>
      </li>
    </ul>
  </div>
</div>
